@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 200px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.desc_format{
  font-size:14px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* Alerts - Style Devise Flash messages like Bootstrap */
.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

/* Header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  font-family: palantino linotype;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* Sidebar */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* Main Content */

.main {
  min-height:100%
}


/* forms */

input, textarea, select, .uneditable-input {
  margin-bottom: 15px;
  align:center;

}

.centered-form {
  text-align:center
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    padding: 0;
  }
}

/* Products index */

.products {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:last-child {
      border-bottom: 1px solid $grayMediumLight;
    }
    div.price{
      color: #32cd32;
    }
  }
}

span.beta{
  background: linear-gradient(#49c12d,#279f0b);
  border-radius: 4px;
  box-shadow: inset 0 1px 0;
  -webkit-font-smoothing: antialiased;
  padding: 2px 5px;
  border: 1px solid #000;
  text-rendering: optimizeLegibility;
  font: {
    family: Arial,Helvetica,sans-serif;
    weight: bold;
    size: 11px;
  }

  color: #fff;
  text-transform: uppercase;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}