#push
  %footer.navbar-fixed-bottom
    .container
      %nav
        %ul
          %li= link_to 'About', '#'
          %li= link_to 'Fee Guide', '#'
          %li= link_to 'Contact Us', '#'
          %li= link_to 'Terms of Use', '#'
          %li= link_to 'Privacy Police', '#'
          %li= link_to 'How it works', '#'
