%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      .navbar-header
        %span= link_to 'Ruby Meal', root_path, id: 'logo'
        %span.beta Beta
        %button{class: 'navbar-toggle collapsed', type: 'button', :data => {:toggle => 'collapsed', :target => '.bs-navbar-collapse'}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-collapse.bs-navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Shopping Cart', '#'

          - if 2 > 2
            %li.dropdown
              %a{ href: '#', class: 'dropdown-toggle', :data => {:toggle => 'dropdown'} }
                = precede 'Account ' do
                  %b.caret
              %ul{ class: 'dropdown-menu', role: 'dropdown' }
                %li= link_to 'Profile', edit_org_person_path(current_org_person.id)
                %li.divider
                %li= link_to 'Sign out', destroy_org_person_session_path
          - else
            %li= link_to 'Sign in', new_org_person_session_path
