!!!
%html
  %head
    %title
      RubyShop
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %body{ class: "#{controller_name} #{action_name}"}
      = render 'layouts/header'
      .container-fluid
        = bootstrap_flash
        .row
          = yield
      = render 'layouts/footer'
      - debug(params) if Rails.env.development?